.items-out {
  margin-top: 20px;
  display: grid;
  place-items: center;
  gap: 40px;
}

.items-out > h1 {
  grid-row: 1;
}

.items {
  grid-row: 2;
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px 300px;
}

.out-img {
  display: grid;
  place-items: center;
}

.out-img > img {
  padding: 30px;
  max-height: 100px;
  max-width: 200px;
  background-color: white;
}


.item {
  background-color: white;
  border: 3px solid #f2c9e0;
  padding: 20px;
  display: grid;
  grid-template-rows: 150px 150px;
}

.bottom-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.bottom-item > p {
  
  margin: 0px;
  color: #f2c9e0;
  background-color: black;
  padding: 5px;
}

.bottom-item > input {
  width: 50%;
  height: 100%;
  justify-self: end;
  align-self: end;
  border: 1px solid #f2c9e0;
  border-radius: 10px;
}

.add-button {
  grid-row: 2;
  color: #1d3759;
  border: none;
  background-color: #f2c9e0;
  height: 40px;
  width: 150px;
  align-self: center;
  justify-self: center;
  grid-column: 1 / -1;
}

.add-button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: black;
}

.item > h4 {
  padding: 5px;
}